@(form: Form[Query], advancedForm: Form[AdvancedQuery], results: Option[ResultSet] = None, queryString: Option[String] = None)

@helper.main("Open Information Extractions") {
  <body>

  <div class="page-header">
    <h1><a href="/">KDD Open Information Extraction</a></h1>
  </div>

  @if(form.hasErrors) {
      <div class="alert alert-error">
          <a class="close" data-dismiss="alert">x</a>
          @if(form.errors.size > 0) {
            @for(formError <- form.errors) {
              @formError.message.toString()
            }
          } else {No error returned.}
      </div>
  }

  <!-- search form -->
  <div id="simple">
  @helper.form(action = routes.Application.submit, 'class -> "well form-search") {
    <div class="offset8">simple <a href="#" onclick="$('div:#simple').hide(); $('div:#advanced').show();">advanced</a></div>
    <!--
    <div class="example-queries offset2">
      <h3>Example Queries:</h3>
      <ul>
        <li><a href="#">Who invented the light bulb?</a></li>
        <li><a href="#">example query 2</a></li>
        <li><a href="#">example query 3</a></li>
      </ul>
    </div>
    -->

    <div style="height: 10px" /></div>

    <div class="form-wrapper">
      @helper.inputText(
          form("arg1"),
          '_class -> "dl-horizontal",
          '_label -> "Argument 1:",
          'placeholder -> "what/who")

      @helper.inputText(
          form("rel"),
          '_class -> "dl-horizontal",
          '_label -> "Relation:",
          'placeholder -> "verb phrase")

      @helper.inputText(
          form("arg2"),
          '_class -> "dl-horizontal",
          '_label -> "Argument 2:",
          'placeholder -> "what/who")

      <div height="10 px" />

      @helper.select(
        form("extractor"), 
        options=("" -> "All") +: (Query.extractors zip Query.extractors),
        '_class -> "dl-horizontal",
        '_label -> "Extractor:")

      @helper.inputRadioGroup(
        form("groupBy"),
        options = ExtractionPart.parts.map(part => (part.short, part.name)),
        '_class -> "dl-horizontal",
        '_label -> "Grouping results by:"
      )

      <div align="center">
        <button class="btn">Search</button>
      </div>
    </div>
    </div>
  }
  </div>
  <div id="advanced" style="display: none">
  @helper.form(action = routes.Application.submitAdvanced, 'class -> "well form-search") {
    <div class="offset8"><a href="#" onclick="$('div:#advanced').hide(); $('div:#simple').show();">simple</a> advanced</div>
    <div class="form-wrapper">
      @helper.inputText(
          form("query"),
          '_class -> "dl-horizontal",
          '_label -> "Advanced:",
          'placeholder -> "solr query")

      @helper.inputRadioGroup(
        form("groupBy"),
        options = ExtractionPart.parts.map(part => (part.short, part.name)),
        'id -> "groupByAdvanced",
        '_class -> "dl-horizontal",
        '_label -> "Grouping results by:"
      )
      </div>

      <div align="center">
        <button class="btn">Search</button>
      </div>
  }
  </div>

  <!-- results container -->
  <div wicket:id="results-container" class="results-container">

    <!-- actual results -->
    @results match {
      case Some(results) => { @helper.results(results, queryString) }
      case None => { }
    }
  </div>

  </body>
}
